*,
::after,
::before {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb
}

::after,
::before {
    --tw-content: ''
}

html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    tab-size: 4;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-feature-settings: normal
}

body {
    margin: 0;
    line-height: inherit
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit
}

a {
    color: inherit;
    text-decoration: inherit
}

button {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0
}

button {
    text-transform: none
}

[type=button],
[type=reset],
[type=submit],
button {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none
}

:-moz-focusring {
    outline: auto
}

:-moz-ui-invalid {
    box-shadow: none
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0
}

ul {
    list-style: none;
    margin: 0;
    padding: 0
}

[role=button],
button {
    cursor: pointer
}

:disabled {
    cursor: default
}

video {
    display: block;
    vertical-align: middle
}

video {
    max-width: 100%;
    height: auto
}

[hidden] {
    display: none
}

*,
::after,
::before {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-scroll-snap-strictness: proximity;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000
}

::-webkit-backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-scroll-snap-strictness: proximity;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000
}

::backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-scroll-snap-strictness: proximity;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000
}

.container {
    width: 100%
}

@media (min-width:640px) {
    .container {
        max-width: 640px
    }
}

@media (min-width:768px) {
    .container {
        max-width: 768px
    }
}

@media (min-width:1024px) {
    .container {
        max-width: 1024px
    }
}

@media (min-width:1280px) {
    .container {
        max-width: 1280px
    }
}

@media (min-width:1536px) {
    .container {
        max-width: 1536px
    }
}

.left-0 {
    left: 0
}

.right-0 {
    right: 0
}

.-mx-3 {
    margin-left: -.75rem;
    margin-right: -.75rem
}

.mx-auto {
    margin-left: auto;
    margin-right: auto
}

.mb-12 {
    margin-bottom: 3rem
}

.mb-3 {
    margin-bottom: .75rem
}

.mb-4 {
    margin-bottom: 1rem
}

.mb-5 {
    margin-bottom: 1.25rem
}

.mb-6 {
    margin-bottom: 1.5rem
}

.hidden {
    display: none
}

.h-1 {
    height: .25rem
}

.h-10 {
    height: 2.5rem
}

.h-4 {
    height: 1rem
}

.h-6 {
    height: 1.5rem
}

.h-64 {
    height: 16rem
}

.h-8 {
    height: 2rem
}

.h-80 {
    height: 20rem
}

.h-auto {
    height: auto
}

.h-full {
    height: 100%
}

.min-h-screen {
    min-height: 100vh
}

.w-10 {
    width: 2.5rem
}

.w-4 {
    width: 1rem
}

.w-6 {
    width: 1.5rem
}

.w-8 {
    width: 2rem
}

.w-full {
    width: 100%
}

.max-w-3xl {
    max-width: 48rem
}

.max-w-5xl {
    max-width: 64rem
}

.max-w-6xl {
    max-width: 72rem
}

.max-w-7xl {
    max-width: 80rem
}

.bg-gray-50 {
    --tw-bg-opacity: 1;
    background-color: rgb(249 250 251 / var(--tw-bg-opacity))
}

.bg-gray-900 {
    --tw-bg-opacity: 1;
    background-color: rgb(17 24 39 / var(--tw-bg-opacity))
}

.bg-gradient-to-r {
    background-image: linear-gradient(to right, var(--tw-gradient-stops))
}

.bg-none {
    background-image: none
}

.to-mintgreen {
    --tw-gradient-to: #CBF3F0;
}

.from-seagreen {
    --tw-gradient-from: #2EC4B6;
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.bg-clip-text {
    -webkit-background-clip: text;
    background-clip: text
}

.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem
}

.text-sm {
    font-size: .875rem;
    line-height: 1.25rem
}

.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem
}

.font-bold {
    font-weight: 700
}

.font-extrabold {
    font-weight: 800
}

.text-gray-200 {
    --tw-text-opacity: 1;
    color: rgb(229 231 235 / var(--tw-text-opacity))
}

.text-gray-400 {
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity))
}

.text-gray-500 {
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity))
}

.text-gray-600 {
    --tw-text-opacity: 1;
    color: rgb(75 85 99 / var(--tw-text-opacity))
}

.text-gray-700 {
    --tw-text-opacity: 1;
    color: rgb(55 65 81 / var(--tw-text-opacity))
}

.text-gray-900 {
    --tw-text-opacity: 1;
    color: rgb(17 24 39 / var(--tw-text-opacity))
}

.text-red-500 {
    --tw-text-opacity: 1;
    color: rgb(239 68 68 / var(--tw-text-opacity))
}

.text-transparent {
    color: transparent
}

.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity))
}

@media (min-width:640px) {
    .sm\:ml-4 {
        margin-left: 1rem
    }

    .sm\:ml-auto {
        margin-left: auto
    }

    .sm\:mt-0 {
        margin-top: 0
    }

    .sm\:max-w-sm {
        max-width: 24rem
    }

    .sm\:flex-row {
        flex-direction: row
    }

    .sm\:justify-start {
        justify-content: flex-start
    }

    .sm\:border-l {
        border-left-width: 1px
    }

    .sm\:border-gray-200 {
        --tw-border-opacity: 1;
        border-color: rgb(229 231 235 / var(--tw-border-opacity))
    }

    .sm\:px-20 {
        padding-left: 5rem;
        padding-right: 5rem
    }

    .sm\:py-16 {
        padding-top: 4rem;
        padding-bottom: 4rem
    }

    .sm\:pl-4 {
        padding-left: 1rem
    }

    .sm\:text-2xl {
        font-size: 1.5rem;
        line-height: 2rem
    }

    .sm\:text-4xl {
        font-size: 2.25rem;
        line-height: 2.5rem
    }

    .sm\:text-6xl {
        font-size: 3.75rem;
        line-height: 1
    }
}

@media (min-width:768px) {
    .md\:absolute {
        position: absolute
    }

    .md\:-mt-16 {
        margin-top: -4rem
    }

    .md\:mb-0 {
        margin-bottom: 0
    }

    .md\:ml-8 {
        margin-left: 2rem
    }

    .md\:h-96 {
        height: 24rem
    }

    .md\:flex-row {
        flex-direction: row
    }

    .md\:border-l {
        border-left-width: 1px
    }

    .md\:border-gray-200 {
        --tw-border-opacity: 1;
        border-color: rgb(229 231 235 / var(--tw-border-opacity))
    }

    .md\:px-32 {
        padding-left: 8rem;
        padding-right: 8rem
    }

    .md\:py-24 {
        padding-top: 6rem;
        padding-bottom: 6rem
    }

    .md\:pl-8 {
        padding-left: 2rem
    }

    .md\:text-center {
        text-align: center
    }

    .md\:text-6xl {
        font-size: 3.75rem;
        line-height: 1
    }

    .md\:text-xl {
        font-size: 1.25rem;
        line-height: 1.75rem
    }

    .md\:tracking-tight {
        letter-spacing: -.025em
    }
}

@media (min-width:1024px) {
    .lg\:order-1 {
        order: 1
    }

    .lg\:my-24 {
        margin-top: 6rem;
        margin-bottom: 6rem
    }

    .lg\:mb-0 {
        margin-bottom: 0
    }

    .lg\:block {
        display: block
    }

    .lg\:inline {
        display: inline
    }

    .lg\:h-14 {
        height: 3.5rem
    }

    .lg\:h-96 {
        height: 24rem
    }

    .lg\:w-1\/2 {
        width: 50%
    }

    .lg\:w-auto {
        width: auto
    }

    .lg\:max-w-full {
        max-width: 100%
    }

    .lg\:max-w-md {
        max-width: 28rem
    }

    .lg\:items-center {
        align-items: center
    }

    .lg\:justify-end {
        justify-content: flex-end
    }

    .lg\:justify-center {
        justify-content: center
    }

    .lg\:bg-black {
        --tw-bg-opacity: 1;
        background-color: rgb(0 0 0 / var(--tw-bg-opacity))
    }

    .lg\:bg-current {
        background-color: currentColor
    }

    .lg\:px-0 {
        padding-left: 0;
        padding-right: 0
    }

    .lg\:px-16 {
        padding-left: 4rem;
        padding-right: 4rem
    }

    .lg\:px-24 {
        padding-left: 6rem;
        padding-right: 6rem
    }

    .lg\:py-32 {
        padding-top: 8rem;
        padding-bottom: 8rem
    }

    .lg\:text-7xl {
        font-size: 4.5rem;
        line-height: 1
    }
}

@media (min-width:1280px) {
    .xl\:h-screen {
        height: 100vh
    }

    .xl\:bg-current {
        background-color: currentColor
    }

    .xl\:bg-transparent {
        background-color: transparent
    }

    .xl\:bg-zinc-900 {
        --tw-bg-opacity: 1;
        background-color: rgb(24 24 27 / var(--tw-bg-opacity))
    }

    .xl\:bg-none {
        background-image: none
    }

    .xl\:py-3 {
        padding-top: .75rem;
        padding-bottom: .75rem
    }

    .xl\:py-44 {
        padding-top: 11rem;
        padding-bottom: 11rem
    }

    .xl\:text-xl {
        font-size: 1.25rem;
        line-height: 1.75rem
    }
}